.advantages-icons {
    width: 70px;
    height: 70px;
}

.advantages-icon-box {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--team-section-color);
    border-radius: 4px;
}

.company-advantages {
    display: flex;
    align-items: center;
}

.advantages:not(:last-child) {
    margin-right: 30px;
}

.section-advantages {
    padding-top: 0px;
}

.image-company {
    display: flex;
}

.image-item:not(:last-child) {
    margin-right: 30px;
}

.wrapper-company-item {
    position: relative;
}

.image-company-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
}

.image-company-text p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-page-color);
}