.clients {
    display: flex;
}

.clients-list {
    width: 170px;
    height: 92px;
}

.clients-list:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--social-icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--main-cubic-bezier);
}

.clients-link {
    @include flex;
    width: 100%;
    height: 100%;  
    border: 1px solid var(--social-icon-color);
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--main-cubic-bezier);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-page-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-page-color);
}